@import "tailwindcss";

@font-face {
  font-family: "GLory";
  src: url("/fonts/glory/Glory-VariableFont_wght.ttf") format("truetype");
  font-weight: variable;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-glory: "GLory", "sans-serif";

  /* Colors */
  --color-primary: #ff8d35;
  --color-secondary: #ffca35;
  --color-gray-1: #d4d4d4;

  /* Shadows */
  --shadow-primary: 0px 2px 20px #ff8d35;
}

body,
html {
  @apply bg-neutral-50 font-glory;
}

.drop-down::after {
  @apply content-[''] bg-transparent absolute top-[-30px] h-[30px];
}
