@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GLory";
  src: url("/fonts/glory/Glory-VariableFont_wght.ttf") format("truetype");
  font-weight: variable;
  font-style: normal;
  font-display: swap;
}

body,
html {
  @apply bg-neutral-50 font-['GLory'];
}

.default-button {
  background: #ff8d35;
  background: linear-gradient(90deg, #ff8d35 0%, #ffca35 100%);
}
